# SAM
.aws-sam/
samconfig.toml

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
*.egg-info/
dist/
build/

# Environment
.env
.DS_Store

# IDEs
.vscode/
.idea/
*.swp
*.swo

# AWS
*.pem
*.key

# Testing
.pytest_cache/
.coverage
htmlcov/
